/** BODY **/
body {
	margin:0;
	box-sizing: border-box;
	font-family: monospace;
}

/* Mise en place du systeme de grille */
div#page-container {
	display: grid;
	grid-template-columns: 250px 1fr; /* 250px + "largeur restante" */
	grid-template-areas: "h h"
                         "n c"
                         "f f";
}

div#header-container {
	grid-area: h;
	background-color: #EAE5C0;
}

div#nav-container {
	grid-area: n;
	background-color: #D78B9A;
}

div#content-container {
	grid-area: c;
	background-color: #8EB6D9;
}

div#footer-container {
	grid-area: f;
	background-color: #4BA694;
}

/** HEADER **/

div#header-container h1 {
	text-align: center;
}

/** NAV **/

div#nav-container ul{
	padding-left: 0px;
}

div#nav-container li{
	text-align: center;
	list-style-type: none;
}

div#nav-container a{
	color: black;
	text-decoration: none;
}


/** REGISTER FORM **/

#form_wrap {
	width: 84%;
}

#form_inscription {
	width: 380px;
	margin: 40px auto 40px auto;
}

#form_inscription div {
	display: grid;
	grid-template-areas: "l i";
	grid-template-columns: 110px 170px;
}

#form_inscription label {
	grid-area: l;
	text-align: right;
	margin: 0 10px 10px 0;
}

#form_inscription input {
	grid-area: i;
	margin-bottom: 7px;
}

#form_inscription button {
	margin: 5px 0 0 110px;
	width: 170px;
}

