html {
	vertical-align: top;
}

/** BODY **/
body {
	margin:0;
	box-sizing: border-box;
	font-family: monospace;
	height: 100vh;
}

.quizz_img {
	width: 200px;
	height: auto;
}

.user_img {
	width: 50px;
	height: auto;
}

/* Mise en place du systeme de grille */
div#page-container {
	height: 100%;
	display: grid;
	grid-template-columns: 200px 1fr; /* 250px + "largeur restante" */
	grid-template-rows : auto 1fr auto;
	grid-template-areas: "h h"
                         "n c"
                         "f f";
}

div#header-container {
	grid-area: h;
}

div#nav-container {
	grid-area: n;
	text-align: center;
	padding-top: 80px;
}

div#content-container {
	grid-area: c;
	background-image: url("../../img/background/bgnoise_lg.png");
	border-top-left-radius: 80px 80px;
	border-bottom-left-radius: 80px 80px;
	padding-left: 80px;
}

div#footer-container {
	grid-area: f;
}

body,
div#header-container,
div#nav-container,
div#footer-container{
	/* background-color: #5d9fcc; */
	background-image: url("../../img/background/footer_lodyas.png");
	
}

/** HEADER **/

div#header-container h1 {
	text-align: center;
	font-size: 50px;
	color:white;
	font-family: cursive;
}

div#user {
	position: absolute;
	right: 50px;
	top: 25px;
	color: #5d9fcc;
}

div#user p {
	padding: 5px 5px;
	background-color: white;
	color: black;
	border-top-left-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	
}



/** NAV **/

div#nav-container ul{
	
	padding-left: 0;
}

div#nav-container li{
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 20px
}

div#nav-container a{
	color: white;
	text-decoration: none;
	text-align: center;
}

/** FOOTER **/

div#footer-container{
	padding-left: 280px;
	color: white
}


/** REGISTER FORM **/

.form_wrap {
	width: 84.5%;
}

.form_main {
	width: 380px;
	margin: 40px auto 40px auto;
}

.form_main div {
	display: grid;
	grid-template-areas: "l i";
	grid-template-columns: 110px 170px;
	position: relative;
	width: 700px;
}

.form_main label {
	grid-area: l;
	text-align: right;
	margin: 0 10px 10px 0;
}

.form_main input {
	grid-area: i;
	margin-bottom: 7px;
}

.form_main button {
	margin: 5px 0 0 110px;
	width: 170px;
}

/* Messages d'erreurs */
.form_main div ul {
	position: absolute;
	top: -11px;
	left: 250px;
	list-style-type: none;
}