html {
	vertical-align: top;
}

/** BODY **/
body {
	margin:0;
	box-sizing: border-box;
	font-family: monospace;
	background-image: url("../background/footer_lodyas.png");
}

/* Mise en place du systeme de grille */
div#page-container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 200px 1fr; /* 250px + "largeur restante" */
	grid-template-rows : auto 1fr auto;
	grid-template-areas: "h h"
                         "n c"
                         "f f";
}

div#header-container {
	grid-area: h;
}

div#nav-container {
	grid-area: n;
	text-align: center;
	padding-top: 80px;
}

div#content-container {
	grid-area: c;
	background-image: url("../background/bgnoise_lg.png");
	border-top-left-radius: 80px 80px;
	border-bottom-left-radius: 80px 80px;
	padding: 80px 30px;
}

div#footer-container {
	grid-area: f;
}

/** HEADER **/

div#header-container h1 {
	text-align: center;
	font-size: 50px;
	color:white;
	font-family: cursive;
}

div#user {
	position: absolute;
	right: 50px;
	top: 25px;
	color: #5d9fcc;
}

div#user p {
	padding: 5px 5px;
	background-color: white;
	color: black;
	border-top-left-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	
}

/** NAV **/

div#nav-container ul{
	
	padding-left: 0;
}

div#nav-container li{
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 20px
}

div#nav-container a{
	color: white;
	text-decoration: none;
	text-align: center;
}

/** FOOTER **/

div#footer-container{
	padding-left: 280px;
	color: white
}

/** BASE **/

.titre-quizz {
	font-size: 30px;
	color:white;
}

.description-quizz {
	font-size: 18px;
}

.quizz-img {
	max-width: 200px;
	height: auto;
}

.user-img {
	max-width: 50px;
	height: auto;
}

.answer-img {
	max-width: 200px;
	height: auto;
}

.question-img {
	max-width: 200px;
	height: auto;
}

.delete {
	color: red;
	font-weight: bolder;
	text-decoration: none;
}

.add {
	color: green;
	font-weight: bolder;
	text-decoration: none;
}