{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('build/js/testAjax.js') }}"></script>
{% endblock %}

{% block body %}
	<input id="textInput" type="text">
	<button id="button">Clique!</button>
{% endblock %}