{% block punchline %}
	<h1>Quimly</h1>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div id="user">
        	<p>{{ app.user.username }}</p>
    
                {% if app.user.image is not null %}
    				<img src="{{ asset('img/user/' ~ app.user.image.url) }}" class="user_img">
                {% endif %}
    	</div>
    {% endif %}
{% endblock %}