{% extends 'base.html.twig' %}

{% block body %}

    {% for quizz in user.quizz %}
        <a href="{{ path('editQuizz', { 'id' : quizz.id })}}">{{ quizz.title }}</a>
        
        	{% if quizz.published %} 
        		<span>(publié)</span>
        	{% else %}
        		<span>(non publié)</span>
        	{% endif %}

            {% if quizz.description is not null %}
                <p>{{ quizz.description }}</p>
            {% else %}
        		<p>Aucune description</p>
            {% endif %}
        </li>
        
        <a href="{{ path('removeQuizz', { 'id' : quizz.id })}}">Supprimer</a>
        <hr />

    {% endfor %}
    
    {% if user.quizz is empty %}
    	<p>Vous n'avez pas de quizz</p>
    {% endif %}

{% endblock %}